.main{
    background-color: rgb(232, 232, 232);
    border-radius: 20px;
    border-color: aliceblue;
}
.search{
    display: flex;
    align-items: center;
    gap:6px;
    background-color:  rgb(232, 232, 232);
    margin: 10px;
    position: relative;
}
.search input{
  border: none;
  outline: none;
 background-color:  rgb(232, 232, 232);
  width: 200px;
}
.search input:hover{
    border: none;
}
.search .search-img{
    height: 20px;
    width: 20px;
}
.list{
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    background-color: azure;
    opacity: 0.7;
    max-height: 250px;
    overflow-y: auto;
    padding-left: 10px;
}
.list .product-list{
    height: 250px;
    width: 100%;
}
.product-list ul{
   list-style: none;
   padding: 0;
   margin: 0;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgb(23, 24, 24);
}
::-webkit-scrollbar-track{
    background: #a0a0a0; ;
}